body {
    /* background-color: #121214; */
    color: #341d1d;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    margin: 0%;
    padding: 0%;

}

/* top bar (logo, me, userprofile) */
.mainHeader {
    background-color: pink;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    padding: 1rem;
    width: 90%;
    justify-self: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
}
.header-middle {
    justify-self: center;
}

/* all anquer tag */
a {
    text-decoration: none;
}

/* images section settings */
.image-slider {
    background-color: #aa6c6c;
    padding: 2rem 1rem 2rem 1rem;
    margin: 4rem 1rem 4rem 1rem;
    border-radius: 0rem 2rem;
    box-shadow: 0rem 0rem 2rem 3rem #11ccff;
    justify-content: center;
    align-items: center;

}
.images marquee {
    display: flex;
    align-items: center;
}
.images img {
    width: 50vw;
    min-width: 200px;
    max-width: 600px;
    aspect-ratio: 16/9;
    margin: 0.5rem;
    border-radius: 1rem;
    object-fit: contain; /* to make all size imgs fit w/out croping and reapecting their sizes */

}

footer {
    margin-top: auto;
}


























/* body {
    background-color: #ffffff;
    color: #000000;
}
.headerCls {
    box-shadow: 0px 4px 15px rgba(0,0,0,0.4);
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.headerCls nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.headerNavCls {
    display: inline-block;
}
.profileDropdownListForProfile {
    display: none;
    position: absolute;
    right: 0;
    text-decoration: none;
    background-color: #aa6c6c;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
    list-style: none;
    padding: 10px;
    border-radius: 4px;
}
.profileDropdownListForProfile.show {
    display: block;
}
#logoutBtn {
    border-radius: 5rem;
    border-style: none;
}
#logoutBtn:hover {
    border-radius: 5rem;
    background-color: #b12121;
    color: #ffffff;
    height: 25%;
    width: 25%;
}
.divMyGames {
    display: flex;
    gap: 2rem;
}
.gameSection {
    box-shadow: 0px 0px 5px 10px #140d08;
    flex: 3;
    background-color: #aa6c6c;
    margin: 0.5rem;
    margin-top: 3rem;
    border-radius: 1rem;
    padding: 1.5rem;
}
.gameCards {
    height: 15rem;
    width: 15rem;
    padding: 0.25rem;
    margin: 0.5rem;
    box-shadow: 0px 0px 5px 10px #f5dcc9;
    border-color: #000000;
    border-style: none;
    border-radius: 10%;
}
.sideSection {
    flex: 1;
}
.calculatorBox {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0px 0px 5px 10px #aa6c6c;
    border-radius: 1rem;
}
.gameGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}
iframe {
    margin-top: 8px;
    width: 280px;
    height: 415px;
    border-radius: 5%;
    border: none;
    overflow: hidden;
}
 */
