body {
    background-color: #f8fafc;
    color: #0f172a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    margin: 0%;
    padding: 0%;

}

/* top bar (logo, me, userprofile) */
.mainHeader {
    background-color: #ffffff;
    color: #0f172a;
    border-radius: 1.5rem;
    margin-top: 3rem;
    padding: 0.5rem;
    width: 90%;
    justify-self: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    transition: transform 0.2s ease-in-out;
}

.mainHeader:hover {
    transform: scale(1.01);
    border: 1px solid #475569;
}

.header-middle {
    justify-self: center;
    align-self: center;
    color: #334155;
    transition: transform 0.3s ease-in-out;
}

.header-middle:hover {
    justify-self: center;
    color: #000000;
    transform: scale(1.3);
}

.logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

@media (min-width: 700px) {
    .logo {
        height: 48px;
        width: 48px;
    }
}

/* links */
#social-media-links {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    top: 1rem;
}

#social-media-links.show {
    display: flex;
}

#social-media-links a {
    border: 1px solid rgb(109, 106, 106);
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border-radius: 1.5rem;
    background-color: #ffffff;
    transition: transform 0.2s ease-in-out;
}

#social-media-links a:hover {
    transform: scale(1.07);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.4);
}

/* all anquer tag */
a {
    text-decoration: none;
    color: black;
}

/* images section settings */
.image-slider {
    background-color: #ffffff;
    padding: 2rem 1rem 2rem 1rem;
    margin: 4rem 1rem 4rem 1rem;
    border-radius: 0rem 2rem;
    box-shadow: 0rem 0rem 2rem 3rem rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.images marquee {
    display: flex;
    align-items: center;
}

.images img {
    width: 65vw;
    min-width: 200px;
    max-width: 600px;
    aspect-ratio: 16/9;
    margin: 0.5rem;
    border-radius: 2rem;
    object-fit: contain;
    /* to make all size imgs fit w/out croping and reapecting their sizes */
}

footer {
    margin-top: auto;
}


/* sideBar */
.user-icon {
    background-color: #f1f5f9;
    border-radius: 50%;
    padding: 0.4rem;
    transition: transform 0.4s ease-in-out;
}

.user-icon:hover {
    border: 2px solid #334155;
    background-color: #ffffff;
    transform: scale(1.2);
}

.sideBar-slider {
    position: fixed;
    width: 200px;
    max-width: 75%;
    height: 50%;
    right: 0px;
    top: 6rem;

    background-color: #ffffff;
    padding: 1rem;
    border: 2px solid #334155;
    border-radius: 2rem 0rem;
    box-shadow: 10px 0 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transform: translate(100%);
    /* pushing sideBar to 100% away so that it can be hidden */
    transition: right 0.3s ease-in-out;
}

#sideBar-menu:checked~.sideBar-slider {
    transform: translateX(-5%);
}

nav ul {
    margin: 1rem;
    padding: 0.3rem;
}

nav ul li a {
    color: #475569;
    font-size: 15px;
    display: block;
    transition: 0.3s;
    padding: 0.3rem;
}

nav ul li a:hover {
    color: #000000;
    transform: translate(0.5rem, 0);
}

/* main */
main {
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}

#welcome-user {
    justify-self: center;
}

/* game section */
.games-board {
    justify-self: center;
    background-color: #f1f5f9;
    width: 90%;
    height: 100%;
    margin: 4rem 2rem 8rem 2rem;
    border-radius: 1rem;
    border: 4px solid #e2e8f0;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1rem;
    background-color: transparent;
}

@media (min-width: 700px) {
    .game-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.game-card {
    aspect-ratio: 1/1;
    background-color: #ffffff;
    border: 2px solid #e2e8f0;
    border-radius: .5rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.game-card:hover {
    transform: scale(1.04);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);

}

.game-title {
    padding: 0.5rem;
    margin: 0px 0px 1rem 0px;
}

.game-paragraf {
    padding: 0.5rem;
    margin: 1rem 0px 0px 0px;
    border: 2px solid black;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
}

.game-paragraf:hover {
    transform: scale(1.2);
    border-color: rgb(75, 91, 78);
}

/*  */























/* body {
    background-color: #ffffff;
    color: #000000;
}
.headerCls {
    box-shadow: 0px 4px 15px rgba(0,0,0,0.4);
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.headerCls nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.headerNavCls {
    display: inline-block;
}
.profileDropdownListForProfile {
    display: none;
    position: absolute;
    right: 0;
    text-decoration: none;
    background-color: #aa6c6c;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
    list-style: none;
    padding: 10px;
    border-radius: 4px;
}
.profileDropdownListForProfile.show {
    display: block;
}
#logoutBtn {
    border-radius: 5rem;
    border-style: none;
}
#logoutBtn:hover {
    border-radius: 5rem;
    background-color: #b12121;
    color: #ffffff;
    height: 25%;
    width: 25%;
}
.divMyGames {
    display: flex;
    gap: 2rem;
}
.gameSection {
    box-shadow: 0px 0px 5px 10px #140d08;
    flex: 3;
    background-color: #aa6c6c;
    margin: 0.5rem;
    margin-top: 3rem;
    border-radius: 1rem;
    padding: 1.5rem;
}
.gameCards {
    height: 15rem;
    width: 15rem;
    padding: 0.25rem;
    margin: 0.5rem;
    box-shadow: 0px 0px 5px 10px #f5dcc9;
    border-color: #000000;
    border-style: none;
    border-radius: 10%;
}
.sideSection {
    flex: 1;
}
.calculatorBox {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0px 0px 5px 10px #aa6c6c;
    border-radius: 1rem;
}
.gameGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}
iframe {
    margin-top: 8px;
    width: 280px;
    height: 415px;
    border-radius: 5%;
    border: none;
    overflow: hidden;
}
 */
