* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* forces body to take full height fo screen */
    align-items: center;

    background-color: #f8fafc;
    color: #0f172a;
    width: 100%;

}

a {
    text-decoration: none;
    color: black;
}

main {
    flex: 1;
    /* making main to contain all screen space means all conatint blow it will be pushed to bottom */
    display: flex;
    align-items: center;

}

#loginForm {
    justify-self: center;
    background-color: #f1f5f9;
    width: 90%;
    margin: 4rem 2rem 4rem 2rem;
    border-radius: 1rem;
    border: 4px solid #e2e8f0;

    padding: 2rem;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

/* username and passwd */
.form-group label, input {
    background-color: #8f939e;
    color: black;
    padding: .4rem;
    border: 1px solid black;
    border-radius: 1rem;
    transition: translate 0.3s ease-in-out;
}
.form-group input:hover {
    background-color: #b0bddb;
    transform: translate(.5rem) scaleX(1.1);
}

/* login button and hover */
#login-btn {
    background-color: #f8fafc;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease-in-out;
}
#login-btn:hover {
    background-color: #b0bddb;
    transform: scale(1.1);
}

/* footer */
footer {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 2rem;
    padding: 2rem;
}

.footer-links-nav-cls {
    display: flex;
    gap: 5vw;
    justify-self: center;
}

.footer-links-nav-cls a, .signup-link:hover {
    transition: transform 0.3s ease-in-out;
}
.footer-links-nav-cls a:hover, .signup-link:hover {
    transform: scale(1.3);
    color: blue;
}
