* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;

    background-color: #f8fafc;
    color: #0f172a;
    width: 100%;

}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    justify-self: center;
    border: 4px solid #e2e8f0;
    margin: 4rem 2rem;

    border-radius: 1rem;
    padding: 2rem 4rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.form-container label, input{
    color: black;
    padding: .4rem;
    border-radius: 1rem;
    border: 2px solid #e2e8f0;
    transition: translate 0.3s ease-in-out;
}
.form-container input:hover {
    background-color: #b0bddb;
    transform: translate(.5rem) scaleX(1.1);
}
#otp-btn {
    background-color: #f8fafc;
    padding: .5rem 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border:  2px solid #e2e8f0;
    transition: transform 0.3s ease-in-out;
}
#otp-btn:hover {
    background-color: #b0bddb;
    transform: scale(1.1);
}
a {
    text-decoration: none;
    color: black;
}

/* footer */
footer {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 2rem;
    padding: 2rem;
}

.footer-links-nav-cls {
    display: flex;
    gap: 5vw;
    justify-self: center;
}

.footer-links-nav-cls a, #reg-btn-cls:hover {
    transition: transform 0.3s ease-in-out;
}

.footer-links-nav-cls a:hover, #reg-btn-cls:hover {
    transform: scale(1.3);
    color: blue;
}